.textArea {
  width: 100%;
  font-size: 14pt;
  padding: 14pt;
  margin-top: 10pt;
  border: 1px solid var(--lightblue);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  resize: vertical;
  min-height: 180px;
}

.textArea:active, .textArea:focus {
  outline: none;
  border: 2px solid var(--blue);
  transition: border-width 0.1s ease-in-out;;
}