#footerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px 15px 60px;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  #footerMenu {
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px 15px 20px;
  }

  #footerMenu > div {
    margin-bottom: 10pt;
  }
}

#footerMenu > div {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#footerMenu a,
#footerMenu a:hover,
#footerMenu a:link,
#footerMenu a:active,
#footerMenu a:visited {
  text-decoration: none;
  color: white;
}



.mr-5 {
  margin-right: 10pt;
}