.headerContainer {
  background-color: #EDEDED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 60px 20px 35px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    flex-direction: column;
    justify-content: center;
  }

  .headerContainer > img {
    margin-bottom: 20px;
  }
}

.headerContainer > div {
  font-weight: bold;
  color: #2477CB;
  font-size: 14pt;
  text-transform: uppercase;
}

.headerContainer > img {
  height: 50px;
}

.headerContainer .spacer {
  width: 1.2em;
  display: inline-block;
}