.container {
  background-color: #EDEDED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 60px 20px 60px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .container > img {
    margin-bottom: 20px;
  }
}

.container > div {
  font-weight: bold;
  color: #2477CB;
  font-size: 1em;
  text-transform: uppercase;
}

.container > img {
  height: 50px;
}

.container .spacer {
  width: 1.2em;
  display: inline-block;
}